<!--{{$ctrl.res}}-->
<!--{{res}}-->


<!--<h3 class="text-center">Cricket App</h3>-->
<!--<br>-->

<!--<input type="text" placeholder="Search player">-->
<!--<button type="button">Search</button>-->
<!--<br><br>-->



<!--<div class="card" style="background: #f5f5f5;" ng-repeat="x in $ctrl.res track by $index">-->
<!--&lt;!&ndash;    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1280px-Flag_of_Australia_%28converted%29.svg.png" style="width: 70px;height: 70px;margin: 0 auto; float: right" alt="Card image cap">&ndash;&gt;-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">ID : {{x.unique_id}}</h5>-->
<!--        <h5 class="card-title">{{x.title}}</h5>-->
<!--        <p class="card-text">{{x.description}}</p>-->
<!--        <a href="#" class="btn btn-primary">Recommend </a>-->
<!--    </div>-->
<!--</div>-->