

<table class="table container col">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">City</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users track by $index">
        <th scope="row">{{$index}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td ng-class="{'red' : user.age == 12,'green' : user.age == 11, 'blue' : user.age == 13}">{{user.age}}</td>
        <td>{{user.city}}</td>
        <td><button class="btn btn-primary" ng-click="test(user)">Edit</button></td>
    </tr>

    </tbody>
</table>